<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="images/fox.png" type="image/x-icon">
    <title>StreamFox</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <!--icon font css-->
    <link rel="stylesheet" href="vendors/themify-icon/themify-icons.css">
    <link rel="stylesheet" href="vendors/simple-line-icon/simple-line-icons.css">
    <link rel="stylesheet" href="vendors/font-awesome/css/all.css">
    <link rel="stylesheet" href="vendors/flaticon/flaticon.css">
    <link rel="stylesheet" href="vendors/animation/animate.css">
    <link rel="stylesheet" href="vendors/owl-carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="vendors/animation/animate.css">
    <link rel="stylesheet" href="vendors/magnify-pop/magnific-popup.css">
    <link rel="stylesheet" href="vendors/elagent/style.css">
    <link rel="stylesheet" href="vendors/scroll/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/responsive.css">
</head>

<body>
    <div id="preloader">
        <div id="ctn-preloader" class="ctn-preloader">
            <div class="animation-preloader">
                <div class="spinner"></div>
                <div class="txt-loading">
                    <span data-text-preloader="S" class="letters-loading">
                        S
                    </span>
                    <span data-text-preloader="T" class="letters-loading">
                        T
                    </span>
                    <span data-text-preloader="R" class="letters-loading">
                        R
                    </span>
                    <span data-text-preloader="E" class="letters-loading">
                        E
                    </span>
                    <span data-text-preloader="A" class="letters-loading">
                        A
                    </span>
                    <span data-text-preloader="M" class="letters-loading">
                        M
                    </span>
                    <span data-text-preloader="F" class="letters-loading">
                        F
                    </span>
                    <span data-text-preloader="O" class="letters-loading">
                        O
                    </span>
                    <span data-text-preloader="X" class="letters-loading">
                        X
                    </span>
                </div>
                <p class="text-center">Loading</p>
            </div>
            <div class="loader">
                <div class="row">
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body_wrapper">
        <header class="header_area">
            <nav class="navbar navbar-expand-lg menu_one">
                <div class="container-fluid">
                    <!-- <h3>StreamFox</h3> -->
                    <a class="navbar-brand" href="#"><img src="images/fox.png" height="10%" width="10%" alt="logo"></a>
                    <a class="btn_get btn_hover mobile_btn ml-auto" href="#pricing">Get Started</a>
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="menu_toggle">
                            <span class="hamburger">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                            <span class="hamburger-cross">
                                <span></span>
                                <span></span>
                            </span>
                        </span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav m-auto menu">
                            <li class="nav-item dropdown submenu mega_menu mega_menu_two active">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                </a>
                            </li>
                        </ul>
                        <div class="tracking_btn">
                            <a class="er_btn btn_hover" href="#get-app">Get started</a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <section class="tracking_banner_area text-center">
            <div class="container">
                <div class="tracking_banner_content">
                    <h3 class="wow fadeInUp" data-wow-delay="0.8s"> With <strong>one </strong> bundle</h3>
                    <!-- <h3 class="wow fadeInUp" data-wow-delay="0.8s">Stream <strong>everything, </strong>whenever you want</h3> -->
                    <!-- <p class="wow fadeInUp" data-wow-delay="0.9s">Share and borrow access to your favorite streaming services with StreamFox now!</p> -->
                </div>
                <div class="row tracking_software_logo wow fadeInUp" data-wow-delay="0.9s">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-2 col-md-3 col-4">
                        <a href="#"><img src="images/services/netflix.png" alt=""></a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-4">
                        <a href="#"><img src="images/services/hulu.png" alt=""></a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                        <a href="#"><img src="images/services/cbs.png" alt=""></a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                        <a href="#"><img src="images/services/showtime.png" alt=""></a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                        <a href="#"><img src="images/services/disney.png" alt=""></a>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
        </section>
        <section class="tracking_activity_area">
            <div class="container">
                <div class="seo_sec_title text-center mb_70 wow fadeInUp" data-wow-delay="0.3s">
                    <h2>How does it work?</h2>
                    <hr>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="media tracking_item wow fadeInUp">
                            <img src="images/home-tracking/activity_icon.png" alt="">
                            <div class="media-body">
                                <a href="#"><h3 class="h_head">1. Share your stream</h3></a>
                                <p>Let others borrow one of your streaming services by adding your username and password to your profile. People will use your account, but <strong>WILL NOT</strong> see your private data. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="media tracking_item wow fadeInUp" data-wow-delay="0.3s">
                            <img src="images/home-tracking/time_icon.png" alt="">
                            <div class="media-body">
                                <a href="#"><h3 class="h_head">2. Access any stream</h3></a>
                                <p>In return for letting people borrow your account, you get to borrow theirs! Start watching <strong>ANY</strong> streaming service you’d like with the click of a button!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="media tracking_item wow fadeInUp" data-wow-delay="0.5s">
                            <img src="images/home-tracking/analyze_icon.png" alt="">
                            <div class="media-body">
                                <a href="#"><h3 class="h_head">3. Stream forever</h3></a>
                                <p>It’s that simple. Stream <strong>ANYTHING,</strong> anywhere, whenever you’d like, for however long you’d like. All for one low monthly cost! </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="tracking_price_area sec_pad" id="pricing">
            <div class="container">
                <div class="tracking_price_inner wow fadeInUp">
                    <h2>Pricing</h2>
                    <div class="d-flex track_body">
                        <div class="track_price">
                            <h3>$9.99</h3>
                            <h6>/per month</h6>
                        </div>
                        <div class="track_text">
                            <ul class="list-unstyled">
                                <li><i class="fas fa-check"></i>Stream as much as you want</li>
                                <li><i class="fas fa-check"></i>Cancel anytime</li>
                                <li><i class="fas fa-check"></i>Encrypted and secure</li>
                            </ul>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="/getstarted" class="software_banner_btn btn_submit f_500">Get started</a>
                    </div>
                </div>
            </div>
        </section>
        
        <footer class="footer_area h_footer_dark pos_footer_area h_footer_track">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="f_widget dark_widget company_widget">
                            <h2 style="color: white"> StreamFox </h2>
                            <p>© 2020 StreamFox, LLC. All rights reserved. streamfoxapp@gmail.com <br>Proudly made in Chicago</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="javascripts/jquery-3.2.1.min.js"></script>
    <script src="javascripts/propper.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="vendors/wow/wow.min.js"></script>
    <script src="vendors/sckroller/jquery.parallax-scroll.js"></script>
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="vendors/isotope/isotope-min.js"></script>
    <script src="vendors/magnify-pop/jquery.magnific-popup.min.js"></script>
    <script src="vendors/counterup/jquery.counterup.min.js"></script>
    <script src="vendors/counterup/jquery.waypoints.min.js"></script>
    <script src="vendors/counterup/appear.js"></script>
    <script src="vendors/circle-progress/circle-progress.js"></script>
    <script src="vendors/stellar/jquery.stellar.js"></script>
    <script src="vendors/scroll/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="javascripts/plugins.js"></script>
    <script src="javascripts/main.js"></script>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyBO5I5Ei37DyP7y9Y-FUeew9uk9P1dTuUg",
    authDomain: "streamfox-landing.firebaseapp.com",
    databaseURL: "https://streamfox-landing.firebaseio.com",
    projectId: "streamfox-landing",
    storageBucket: "streamfox-landing.appspot.com",
    messagingSenderId: "986188576649",
    appId: "1:986188576649:web:021aaaa60cdf4a032f5358"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>
</body>

</html>